In [0]:
print('Hello World!')

Hello World!

In [0]:
import os
print(os.getcwd())

/content

In [0]:
print(3+3)
print(3*3)
print(3**3)

6
9
27

In [0]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

In [0]:
name = "John"
age = 15
print("%s is %d years old." % (name, age))

John is 15 years old.

In [0]:
name = "Alfi"
print("Hello, %s!" % name)

Hello, Alfi!

In [0]:
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [0]:
num = input('Enter a number: ')

Enter a number: 5

In [0]:
num

'5'

In [0]:
float(num)

5.0

In [0]:
int('2+3')

ValueError: ignored

In [0]:
eval('2+3')

5

In [0]:
feeling = input('How are you?')
if feeling.lower()=='great':
  print('I feel great too.')
else :
  print('I hope the rest of your day is good!')

How are you?good
I hope the rest of your day is good!

In [0]:
'This Is Title Case'.istitle()

True

In [0]:
'This Is Title Case 123'.istitle()

True

In [0]:
'This Is not Title Case'.istitle()

False

In [0]:
'This Is NOT Title Case Either'.istitle()

False

In [0]:
while True:
    print('Enter your age:')
    age = input()
    if age.isdecimal():
        break
    print('Please enter a number for your age.')
while True:
    print('Select a new password (letters and numbers only):')
    password = input()
    if password.isalnum():
        break
    print('Passwords can only have letters and numbers.')

Enter your age:
twenty
Please enter a number for your age.
Enter your age:
20
Select a new password (letters and numbers only):
;;
Passwords can only have letters and numbers.
Select a new password (letters and numbers only):
kk!
Passwords can only have letters and numbers.
Select a new password (letters and numbers only):
haha123

In [0]:
print("Hello there!\nHow are you?\nI\'m doing fine.")

Hello there!
How are you?
I'm doing fine.

In [0]:
line = """Hello
testing"""
print(line)

Hello
testing

In [0]:
print(r'That is Carol\'s cat.')

That is Carol\'s cat.

In [0]:
var1 = 100
if var1: print ("1 - Got a true expression value")
var2 = 0
if var2: print ("2 - Got a true expression value")

1 - Got a true expression value

In [0]:
amount = int(input("Enter amount: "))
if amount<1000:
   discount = amount*0.05
   print ("Discount",discount)
else:
   discount = amount*0.10
   print ("Discount",discount)
   
print ("Net payable:",amount-discount)

Enter amount: 26000
Discount 2600.0
Net payable: 23400.0

In [0]:
a = 8
if a % 2 == 0:
    print('bilangan {} adalah genap'.format(a))
else:
    print('bilangan {} adalah ganjil'.format(a))

bilangan 8 adalah genap

In [0]:
a = 8
if a % 2 == 0:
    print('bilangan {} adalah genap',a)
else:
    print('bilangan {} adalah ganjil',a)

bilangan {} adalah genap 8

In [0]:
amount = int(input("Enter amount: "))
if amount<1000:
   discount = amount*0.05
   print ("Discount",discount)
elif amount<5000:
   discount = amount*0.10
   print ("Discount",discount)
else:
   discount = amount*0.15
   print ("Discount",discount)
print ("Net payable:",amount-discount)

Enter amount: 600
Discount 30.0
Net payable: 570.0

In [0]:
a = 80
if a > 0:
    print('bilangan {} adalah positif'.format(a))
elif a < 0:
    print('bilangan {} adalah negatif'.format(a))
else:
    print('bilangan {} adalah nol'.format(a))

bilangan 80 adalah positif

In [0]:
condition = True
print(2 if condition else 1/0)
#Output is 2
print((1/0, 2)[condition])
#ZeroDivisionError is raised

2

ZeroDivisionError: ignored

In [0]:
output = None
msg = output or "No data returned"
print(msg)

No data returned

In [29]:
for letter in 'Python': #firstexample
  print('Current word : {}'.format(letter))
fruits = ['tanggo', 'mango']
for fruit in fruits:
  print('Current word : {}'.format(fruit))
fruits = ['banana', 'apple', 'mango']
for index in range(len(fruits)):
    print('Current fruit: {}'.format(fruits[index]))

Current word : P
Current word : y
Current word : t
Current word : h
Current word : o
Current word : n
Current word : tanggo
Current word : mango
Current fruit: banana
Current fruit: apple
Current fruit: mango

In [34]:
count = 0
while(count<5):
  print(count)
  count = count+1

0
1
2
3
4

In [37]:
for i in range(0,5):
  for j in range(0,5-i):
    print("*",end='')
  print()

*****
****
***
**
*

In [38]:
var = 10                    # Second Example
while var > 0:             
    print('Current variable value: {}'.format(var))
    var = var - 1
    if var == 5:
        break

Current variable value: 10
Current variable value: 9
Current variable value: 8
Current variable value: 7
Current variable value: 6

In [39]:
for letter in 'Python':     # First Example
    if letter == 'h':
        continue
    print('Current letter: {}'.format(letter))

Current letter: P
Current letter: y
Current letter: t
Current letter: o
Current letter: n

In [40]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            break

4 equals 2 * 2.0
6 equals 2 * 3.0
8 equals 2 * 4.0
9 equals 3 * 3.0

In [43]:
for n in range(2,3):
  print('tes')

tes

In [44]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

In [50]:
for n in range(2,9):
  print(n,'\n')

2

3

4

5

6

7

8

In [52]:
n = 5
while n > 0:
    n = n - 1
    if n == 2:
        break
    print(n)
else:
    print("Loop is finished")

4
3

In [59]:
var1=""
while(var1!="exit"):
    var1=input('Please enter an integer (type exit to exit): ')
    print(int(var1))

Please enter an integer (type exit to exit): a

ValueError: ignored

In [57]:
import sys
data=''
while(data!='exit'):
    try:
        data=input('Please enter an integer (type exit to exit): ')
        print('got integer: {}'.format(int(data)))
    except:
        if data == 'exit':
            pass  # exit gracefully without prompt any error
        else:
            print('error: {}'.format(sys.exc_info()[0]))

Please enter an integer (type exit to exit): 3
got integer: 3
Please enter an integer (type exit to exit): a
error: <class 'ValueError'>
Please enter an integer (type exit to exit): exit

In [58]:
for letter in 'Python':
    if letter == 'h':
        pass
        print ("This is pass block")
    print('Current letter: {}'.format(letter))

Current letter: P
Current letter: y
Current letter: t
This is pass block
Current letter: h
Current letter: o
Current letter: n

In [60]:
#Cara 2 List Comprehension
numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16]

In [61]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common_num = [a for a in list_a for b in list_b if a == b]
print(common_num) # Output: [2, 3, 4]

[2, 3, 4]

In [64]:
# Contoh 5 kecilkan semua huruf
list_a = ["Hello", "World", "In", "Python"]
small_list_a = [_.lower() for _ in list_a]
print(small_list_a) # Output: ['hello', 'world', 'in', 'python']

['hello', 'world', 'in', 'python']

In [67]:
while True print ('error pasti haha')

SyntaxError: ignored

In [68]:
def printme( str ):
    print(str)
    return
#panggil
printme("Panggilan Pertama")
printme("Panggilan Kedua")

Panggilan Pertama
Panggilan Kedua

In [69]:
def sum(arg1, arg2):
    # Add both the parameters and return them.
    total = arg1 + arg2
    print('Inside the function: {}'.format(total))
    return total
# Panggil sum
total = sum(10, 20);
print('Outside the function: {}'.format(total))

Inside the function: 30
Outside the function: 30

In [75]:
def kuadrat(x):
    return x*x

a = 10
b = kuadrat(a)
print("Kuadrat dari {} adalah {}".format(a,b))

Kuadrat dari 10 adalah 100

In [76]:
# Function definition is here
def changeme(mylist):
    "Variabel mylist berikut hanya dikenali (berlaku) di dalam fungsi"
    mylist = [1, 2, 3, 4]  # This would assign new reference in mylist
    print ('Nilai di dalam fungsi: {}'.format(mylist))
 
# Panggil fungsi changeme
mylist = [10, 20, 30, 40, 50]
changeme(mylist)
print('Nilai di luar fungsi: {}'.format(mylist))

Nilai di dalam fungsi: [1, 2, 3, 4]
Nilai di luar fungsi: [10, 20, 30, 40, 50]

In [79]:
# argumen dengan nilai bawaan harus setelah argumen tanpa bawaaan
def printinfo(name, age=35):
   "This prints a passed info into this function"
   print('Name: ', name)
   print ('Age: ', age)
 
# Now you can call printinfo function (with optional argument age)
printinfo(age=5, name='Dicoding')
printinfo(name='Data')

Name:  Dicoding
Age:  5
Name:  Data
Age:  35

In [78]:
def printinfo(age=35):
   "This prints a passed info into this function"
   print ('Age: ', age)
 
# Now you can call printinfo function (with optional argument age)
printinfo(age=5)
printinfo()

Age:  5
Age:  35

In [80]:
def printinfo(*args, **kwargs):
    for a in args:
        print('argumen posisi {}'.format(a))
    for key, value in kwargs.items():
        print('argument kata kunci {}:{}'.format(key, value))
 
 
# Panggil printinfo
printinfo()
printinfo(1, 2, 3)
printinfo(i=7, j=8, k=9)
printinfo(1, 2, j=8, k=9)
printinfo(*(2, 3), **{'i':7, 'j':8})

argumen posisi 1
argumen posisi 2
argumen posisi 3
argument kata kunci i:7
argument kata kunci j:8
argument kata kunci k:9
argumen posisi 1
argumen posisi 2
argument kata kunci j:8
argument kata kunci k:9
argumen posisi 2
argumen posisi 3
argument kata kunci i:7
argument kata kunci j:8

In [81]:
total = 0  # This is global variable.
# fungsi didefinisikan di bawah ini
def sum(arg1, arg2):
    global total
    total = arg1 + arg2 # variabel lokal total
    print('Inside the function local total: ', total)
    return total
 
sum(10, 20)
print('Outside the function (global) total: ', total)

Inside the function local total:  30
Outside the function (global) total:  30

In [86]:
x = 300
str(x).zfill(5)

'00300'